@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("../public/img/cool-bg-dark.png");
}

.font-bungee {
  font-family: "Bungee", sans-serif;
}

.Glassmorphgisme {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.Glassmorphgisme:hover {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.Glassmorphgisme-noHover {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.positionProjectGlass {
  bottom: -15px;
}
